@import (reference) "../../styles/custom.less";

.PopoverMenuItem {
  height: 30px !important;

  & > a {
    font-size: 14px !important;
    font-weight: 500;
    color: #99aab5 !important;
    height: 30px !important;
    line-height: 30px !important;

    &:hover {
      color: @purple !important;
    }

    &[disabled] {
      color: #c2ccd3 !important;
    }

    & > span {
      white-space: nowrap;
    }
  }

  &--bold {
    & > a {
      font-weight: bold !important;
    }
  }
}
