.PopoverMenu {
  & .iconfont,
  & .anticon {
    vertical-align: -2px;
    margin-right: 8px;
  }

  & .iconfont {
    font-size: 20px;
  }

  & .anticon {
    font-size: 16px;
  }
}

div[data-dir='rtl'] .PopoverMenu {
  text-align: right;
  & .anticon {
    margin-right: 0px;
    margin-left: 8px;
  }
}
