.ProfileTooltip {
  font-size: 16px;
  text-align: center;
  width: 250px;
  height: 260px;
  background: #fff;
  z-index: 3;
  box-shadow: #bdbdbd 1px 1px 2px;
  padding: 2px;
  border-radius: 10px;
}
