.NotificationHolder {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.Notification {
  font-weight: bold;
  padding: 1.2em;
  overflow: hidden;
  background: #3756a0;

  h3, .Icon {
    color: #fff;
    margin-bottom: 0;
  }

  &.success {
    background-color: #8bcf93;
  }
}
