.ProfileTooltip {
  width: 300px;
  height: 240px;
  & p {
    margin-bottom: 0.2rem;
  }
  & h3 {
    margin-bottom: 0.6rem;
  }
  & a {
    margin-right: 8px;
  }
}

.ProfileTooltip__leftContainer {
  position: relative;
  margin-top: -30px;
  float: left;
  width: 40%;
}

.ProfileTooltip__rightContainer {
  position: relative;
  margin-top: -30px;
  float: left;
  max-width: 60%;
  font-size: 0.8rem;
}

.ProfileTooltip__footerContainer {
  position: absolute;
  bottom: 8px;
  right: 8px;
  left: 8px;
}

.ProfileTooltip__avatar {
  margin-left: 10px;
}

.ProfileTooltip_about {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  padding: 0;
  max-height: calc(1rem * 3);
  line-height: 1rem;
}

.ProfileTooltip--smallText {
  font-size: 0.6rem;
}
