@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.HeroBannerSlider {
  display: flex;
  height: 205px;
  padding-bottom: 50px;

  &__title {
    line-height: 30px;
  }

  &__image {
    width: 175px;

    @media @small {
      width: 225px;
    }
  }

  &__content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    @media @small {
      padding: 0 30px;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;

    @media @small {
      margin-top: -30px;
    }

    &__item {
      background-color: @primary-color;
      border-radius: 5px;
      height: 10px;
      margin: 0 8px;
      cursor: pointer;
      opacity: 0.5;
      width: 10px;

      &--selected {
        opacity: 1;
      }
    }
  }

  &__description {
    display: none;
    @media @medium {
      display: block;
    }
  }
}

.HeroBannerSlider__container {
  .ant-carousel .slick-slide {
    height: 160px;
    overflow: hidden;
  }

  .ant-carousel .slick-dots li button {
    background: @primary-color !important;
  }
}
