@import (reference) "../styles/custom.less";
@import (reference) "../styles/modules/variables.less";

.HeroBanner {
  position: relative;
  height: 240px;
  border-radius: 5px;
  margin-bottom: 16px;
  background: url("/images/banner.png");

  @media @small-max-width {
    margin: 0 8px 16px 8px;
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 16px;
    color: @white;
    z-index: 1;
    cursor: pointer;

    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }

    &:hover {
      color: @white-gainsboro;
    }
  }

  &__primary >  {
    border-radius: 5px;
    font-weight: bolder;
    font-size: 14px;
    padding: 8px 12px;
    background-color: @green;
    transition: background-color 0.5s ease-in-out;

    &:link,
    &:visited,
    &:focus,
    &:active {
      color: @white;
      text-decoration: none;
    }

    &:hover {
      color: @white;
      text-decoration: none;
      background-color: darken(@green, 10%);
    }
  }

  &__secondary >  {
    border-radius: 5px;
    font-weight: bolder;
    font-size: 14px;
    padding: 6px 10px;
    border: 2px solid @white;
    transition: all 0.5s ease-in-out;

    &:link,
    &:visited,
    &:focus,
    &:active {
      color: @white;
      text-decoration: none;
    }

    &:hover {
      color: @blue-linkWater;
      text-decoration: none;
      border-color: @blue-linkWater;
    }
  }

  .container {
    height: 100%;
  }

  &__container {
    display: flex;
    height: 100%;
    padding: 16px 0;

    @media @small-max-width {
      padding: 16px;
    }

    &__content {
      margin: auto 0;

      h1 {
        font-size: 24px;
        font-weight: bolder;
        color: @white;
      }

      &__buttons {
        margin-top: 16px;

        &__spacer {
          color: @white;
          margin: 0 8px;
        }
      }
    }
  }
}
