@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.HeroBannerSlider {
  display: flex;
  height: 205px;
  padding-bottom: 50px;
  justify-content: center;

  &__title {
    line-height: 30px;
  }

  &__image {
    width: 175px;

    @media @small {
      width: 225px;
    }
  }

  &__image-1 {
    width: 175px;
  }

  &__content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    @media @small {
      padding: 0 30px;
    }
  }

  &__description {
    display: none;
    @media @medium {
      display: block;
    }
  }
}

.HeroBannerSlider__container {
  .ant-carousel .slick-slide {
    height: 160px;
    overflow: hidden;
  }

  .ant-carousel .slick-dots {
    bottom: initial !important;
  }

  .ant-carousel .slick-dots li button {
    background: @primary-color !important;
  }
}
