@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.TrendingTagsMenu {
  .ant-popover-inner-content {
    overflow-y: auto;
    max-height: 500px;
  }

  &__select {
    color: @blue-botticelli;
    cursor: pointer;
    float: left;
    margin-left: 20px;

    @media @small {
      display: none;
    }

    .icon-unfold {
      font-size: 16px !important;
      margin-left: 4px;
    }

    &--text {
      margin-left: 8px;
      font-weight: 500;
    }
  }

  .Topic {
    margin: 5px !important;
  }

  .PopoverMenuItem {
    &:first-of-type {
      border-top: 0 !important;
    }
  }
}
