@import (reference) '../styles/custom.less';

.nightmode {
  .UserMenu {
    background-color: @grey-nero;
    border-top: solid 1px @normal-grey;
    border-bottom: solid 1px @normal-grey;

    &__item {
      color: #99aab5;

      &--active,
      &:hover {
        color: @primary-color;
        border-bottom: 2px @border-style-base @primary-color;
      }
    }

    &__badge {
      color: #c2ccd3;
    }
  }
}
