@import (reference) '../../styles/custom.less';

.nightmode {
  .CryptoTrendingCharts {
    &__chart-header {
      color: @white-smoke;
    }

    &__usd-price {
      color: @primary-color;
    }

    &__btc-price {
      color: @blue-botticelli;
    }

    path.highcharts-graph {
      stroke: @primary-color !important;
    }

    rect.highcharts-background {
      background: @grey-nero !important;
    }
  }
}
