@import (reference) "../../styles/custom.less";

.CryptoTrendingCharts {
  &__icon-refresh {
    font-size: 22px !important;
    float: right;
    margin-top: 5px;
    cursor: pointer;
  }

  &__chart-header {
    display: flex;
    padding: 10px 0;
    font-size: 18px;
    color: @black;
  }

  &__chart-value {
    margin-left: auto;
  }

  &__chart-caret-up {
    font-size: 12px !important;
    margin-left: 5px;
    color: @green;
  }

  &__chart-caret-down {
    font-size: 12px !important;
    margin-left: 5px;
    color: @red;
  }
}
