@import (reference) '../../styles/custom.less';

.InterestingPeople__icon-refresh {
  font-size: 22px !important;
  margin-left: auto;
  cursor: pointer;
}

div[data-dir='rtl'] .InterestingPeople__icon-refresh {
  margin-left: 0;
  margin-right: auto;
}

.InterestingPeople__title {
  color: #99aab5;
  font-size: 18px;
  font-weight: 500;
}

.InterestingPeople__more > a {
  color: #99aab5;
  font-weight: 500;
}
