@import (reference) "../../styles/custom.less";

.InterestingPeople__icon-refresh {
  font-size: 22px !important;
  margin-left: auto;
  cursor: pointer;
}

.InterestingPeople__title {
  color: #99aab5;
  font-size: 18px;
  font-weight: 500;
}

.InterestingPeople__more > a {
  color: #99aab5;
  font-weight: 500;
}
