@import (reference) '../../styles/custom.less';

.nightmode {
  .PostRecommendation {
    &__link {
      border-bottom: @border-width-base @border-style-base @normal-grey;

      &__post-title {
        color: @white-smoke;

        &:hover {
          color: @white-smoke !important;
        }
      }
    }
  }
}
