.btn
  border-radius: 1.5em
  font-family: $font-primary
  font-weight: bold
  text-transform: uppercase
  font-size: 18px

.btn-primary
  color: #fff
  background-color: #2ED8B1
  border: none

  &:hover, &:focus, &:active
    background-color: #27d0a9 !important

  .icon
    color: #ffffff
