.btn
  font-weight: 700

.input-group-btn > .btn
  line-height: 20px
  font-size: 16px

.btn-lg
  padding: 14px 32px
  line-height: 20px
  font-size: 16px

.btn-primary
  color: #fff
  background-color: #2ED8B1
  border: none
  &:hover, &:focus, &:active
    background-color: #27d0a9 !important