fieldset {
  text-align: left;
}

input, textarea, .form-control, .input-group-addon {
  border: 0;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  color: #3F3F44;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.input-group-addon {
  padding-right: 0.5rem !important;
}

.form-control-lg {
  font-size: 1.25rem;
  line-height: 2rem;
}

.form-control-xl {
  font-size: 2.2rem;
  letter-spacing: 0;
  font-weight: bold;
}

textarea {
  resize: none;

  &::-webkit-input-placeholder {
    color: #b7b7b7 !important;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    color: #b7b7b7 !important;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: #b7b7b7 !important;
  }

  &:-ms-input-placeholder {
    color: #b7b7b7 !important;
  }
}
