/* -------------------------------
 * Headings
 *-------------------------------- */

h1, h2, h3 {
  font-family: $font-alt;
  color: #4f545c;
  font-weight: 500;
  line-height: 1.2em;
  margin-bottom: 1em;
}

h1 {
  font-size: 2.2rem;
  letter-spacing: 0;
  margin-bottom: 0.8em;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

p {
  margin-bottom: 0.8em;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2, h3 {
    font-size: 1.2rem;
  }
}

sup {
  font-size: 0.8rem;
}
