.messages-content {
  li {
    display: block;
  }
}

.message-form {
  background-color: white;
  padding-top: 1px;
  height: 80px;

  .container {
    height: 100%;
  }

  textarea {
    border: 0 !important;
    width: 100%;
    height: 100%;
  }
}
