.actions {
  position: fixed;
  z-index: 9;
  bottom: 0;
  right: 0;

  .triggers {
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    overflow: hidden;

    .trigger {
      height: 50px;
      width: 50px;
      text-align: center;
      display: inline-block;
      border-right: 1px solid rgba(0, 0, 0, 0.1);

      &:hover {
        background-color: $primary-color;
      }

      &.active {
        background-color: $primary-color;
      }

      &:first-child {
        width: 60px;
        padding-left: 10px;
      }

      &:last-child {
        width: 60px;
        padding-right: 10px;
        border-right: none;
      }

      i {
        color: white;
        line-height: 50px;
      }
    }
  }
}

@media (max-width: 600px) {
  .triggers {
    margin: 0 !important;
    border-radius: 25px 0 0 0 !important;
  }
}
