# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# rules for all the files
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2

[/src/client/locales/**]
insert_final_newline = false
