@import (reference) '../../styles/custom.less';

.nightmode {
  .Sidenav {
    & > li {
      & > a {
        &:hover {
          color: @white-smoke;
        }
      }
    }
  }

  .Sidenav__item--active {
    background: @grey-nero;
    border: @border-width-base @border-style-base @normal-grey !important;
    color: @white-smoke !important;
    & > i {
      color: @primary-color;
    }
  }
}
