@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

@base-spacing: 0;

.dark {
  .Topnav {
    background-color: @grey-nero;
    border-bottom: @normal-grey;

    &__input-container {
      input {
        color: @white-smoke;
        border: @border-width-base @border-style-base @normal-grey;

        &:hover,
        &:focus {
          border: @border-width-base @border-style-base @normal-grey !important;
        }
      }
    }

    &__menu-container {
      &__menu {
        & > li.ant-menu-item {
          & > a {
            color: @tertiary-color !important;

            &:hover {
              color: @white-smoke !important;
            }
          }
        }
      }
    }
  }
}
