@import "./../styles/colors";

.CommentForm {
  position: fixed;
  width: 100%;
  bottom: -4px;
  right: 0;
  padding-top: 2px;
  transition: bottom 0.7s;
  background: $input-background;

  &.disappear {
    bottom: -210px;
  }

  &.withSidebar {
    width: calc(100% - 260px);
  }
}

.CommentForm__input {
  display: block;
  width: 100%;
  font-size: 1.2em;
  max-height: 150px;
  min-height: 6rem;
}

.CommentForm__close {
  position: absolute;
  top: 10px;
  right: 25px;
}
