@import "./../styles/colors";

.CommentForm {
  position: fixed;
  width: 100%;
  bottom: -4px;
  right: 0;
  padding-top: 2px;
  transition: bottom 0.7s cubic-bezier(0.18, 0.73, 0.47, 0.85);
  background: $input-background;

  &.disappear {
    bottom: -100px;
  }

  &.withSidebar {
    width: calc(100% - 240px);
  }
}

.CommentForm__input {
  display: block;
  background: $input-background;
  max-height: 30vh;
  min-height: 6rem;
  width: 598px;
  margin: 0 auto;
}

.CommentForm__close {
  position: absolute;
  top: 10px;
  right: 25px;
}

.CommentForm__details {
  position: absolute;
  top: 10px;
  left: 25px;
  font-size: 12px;
  color: lighten($text-color, 15%);
  width: calc(50% - 350px);
}
