@import '../styles/colors';

.CommentItem {
  word-break: keep-all;

  a.active {
    i {
      color: $primary-color;
    }
  }
}

.CommentItem__content {
  margin: 0.5em 0;
  display: flex;

  &.CommentItem__content--level-1 {
    margin-left: 0;
  }

  &.CommentItem__content--level-2 {
    margin-left: 2em;
  }

  &.CommentItem__content--level-3 {
    margin-left: 4em;
  }

  &.CommentItem__content--level-4 {
    margin-left: 6em;
  }

  &.CommentItem__content--level-5 {
    margin-left: 8em;
  }
}

.CommentActionButtons {
  color: #7d7d8e;
}

.CommentActionButtons__button {
  display: inline-block;
  margin-right: 0.5em;
}

.CommentUser {
  margin-right: 0.5em;
}

.CommentBody {
  .CommentBody__username {
    display: block;
  }
}
