@import '../styles/colors';

.CommentItem {
  word-break: keep-all;

  a.active {
    .icon {
      color: $primary-color;
    }
  }
}

.CommentItem--highlight {
  background: linear-gradient(270deg, #e3eae8, #d4e2f9, #fefffe);
  background-size: 400% 400%;

  -webkit-animation: blinking 3s ease infinite;
  -moz-animation: blinking 3s ease infinite;
  animation: blinking 3s ease infinite;
  padding: 5px;
  border-radius: 5px;
}

.CommentItem__content {
  margin: 0.5em 0;
  display: flex;
}

.CommentItem__content--level-1 {
  margin-left: 0;
}

.CommentItem__content--level-2 {
  margin-left: 2em;
}

.CommentItem__content--level-3 {
  margin-left: 4em;
}

.CommentItem__content--level-4 {
  margin-left: 6em;
}

.CommentItem__content--level-5 {
  margin-left: 8em;
}

.CommentActionButtons {
  color: #7d7d8e;
  margin-bottom: 0.5em;
}

.CommentActionButtons__button {
  display: inline-block;
  line-height: 1em;
  padding-right: 0.5em;
  margin-right: 0.5em;
  border-right: 1px solid #7d7d8e;

  &:last-child {
    border-right: none;
  }
}

.CommentUser {
  margin-right: 0.5em;
}

.CommentBody {
  .CommentBody__username {
    display: block;
    margin-bottom: 0.2em;
  }

  p { margin-bottom: 0.3em; }
}

@-webkit-keyframes blinking {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes blinking {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes blinking {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
