.Editor {
  & .ant-form-item-label {
    position: relative;
    top: 8px !important;
  }

  &__label {
    font-weight: bold;
  }

  &__title {
    height: 52px !important;
    font-size: 24px !important;
    font-weight: bold;
  }

  &__topics {
    height: 42px !important;
  }

  &__submit {
    .ant-form-item-control {
      text-align: right !important;
    }
  }
}