@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.ant-modal-mask {
  animation: 0s !important;
}

.PostModal {
  .ant-modal {
    top: 40px !important;
    animation: 0s !important;
  }

  .ant-modal-body {
    padding: 16px !important;

    @media @medium {
      padding: 32px 56px !important;
    }
  }

  button.ant-modal-close {
    display: none;
  }

  &__back {
    align-items: center;
    background: @white;
    border-bottom: 1px solid @white-gainsboro;
    display: flex;
    left: 0;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    &__link {
      align-items: center;
      display: flex;
      color: @blue-botticelli;
      font-size: 20px !important;
      font-weight: bold;

      &:hover {
        color: @blue-botticelli;
      }

      .icon-return {
        padding-right: 5px;
      }
    }

    @media @medium {
      display: none;
    }
  }

  .StoryFull {
    margin-top: 50px !important;

    @media @medium {
      margin-top: 12px !important;
    }
  }

  &__actions-container {
    background: transparent;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 36px;
    transform: translateX(690px);
    width: 57px;

    @media @medium {
      display: flex;
    }
  }

  &__action {
    background: @white;
    border-radius: 50%;
    border: 1px solid @white-gainsboro;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    color: @blue-heather !important;
    display: flex;
    margin: 5px;

    &:hover {
      color: @blue-heather !important;
    }
  }

  &__icon {
    display: block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 21px !important;
  }
}
