<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>
    <div class="app-wrapper">
        {{{body}}}
    </div>
    <script>var base = (document.location.hostname == 'localhost')? 'http://localhost:3000/' : 'https://busy6.com/';</script>
</body>
</html>