<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>
    {{{body}}}
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en,Intl.~locale.zh,Intl.~locale.fr,Intl.~locale.de,Intl.~locale.ru,Intl.~locale.ko,Intl.~locale.nl"></script>
    <script type="text/javascript" src="/js/app.min.js"></script>
</body>
</html>
