@import (reference) '../../../styles/custom.less';

.Notification {
  display: flex;
  padding: 12px;
  background-color: @white;
  border-bottom: @base-border;

  &:hover {
    cursor: pointer;
  }

  &--unread {
    background-color: @notification-unread-background-color;
  }

  &__text {
    padding: 0 12px;

    &__message {
      color: @black;

      & > a {
        font-weight: 700;
      }
    }

    &__date {
      font-size: 14px;
      color: #9d9d9d;
    }
  }

  &__empty {
    border-bottom: @base-border;
    color: @black;
    justify-content: center;
  }
}
