@import (reference) '../../../styles/custom.less';

.Notification {
  display: flex;
  padding: 12px;
  background-color: @white;
  border-bottom: 1px solid #e5e8ec;

  &:hover {
    cursor: pointer;
  }

  &--unread {
    background-color: #f3f6fa;
  }

  &__text {
    padding: 0 12px;

    &__message {
      color: #353535;

      & > a {
        font-weight: 700;
      }
    }

    &__date {
      font-size: 14px;
      color: #9d9d9d;
    }
  }
}
