.MessageList {
  display: block;

  .Message {
    overflow: initial;
    border-bottom: solid 10px transparent;
    box-sizing: border-box;
    display: block;
    margin: 0;
    position: relative;

    p {
      animation: fade-in 1s ease-out;
      transition: opacity 0.2s ease-out;
      will-change: opacity;
      @keyframes blink {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }
    }

    span {
      background: transparent;
      padding: 0;
    }

    .Message__item {
      position: relative;

      .Message__timestamp {
        opacity: 0;
        font-size: 10px;
        position: absolute;
        left: 4px;
        top: 4px;
      }

      &:hover {
        background-color: darken(#f1f2f4, 2%);

        .Message__timestamp {
          opacity: 1;
        }
      }
    }

    p {
      margin-bottom: 0;
    }

    &:nth-last-child(1) {
      border-top: solid 10px transparent;
    }
  }
}

.Message__left {
  position: absolute;
  top: 0;
  left: 0;
}
