.MessageList {
  overflow-y: scroll;
  height: 100%;

  .Message {
    overflow: initial;
    border-bottom: solid 10px transparent;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    width: 100%;
    position: relative;

    span {
      background: transparent;
      padding: 0;
    }

    .Message__item {
      position: relative;

      .Message__timestamp {
        opacity: 0;
        font-size: 10px;
        position: absolute;
        left: 4px;
        top: 4px;
      }

      &:hover {
        background-color: darken(#f1f2f4, 2%);

        .Message__timestamp {
          opacity: 1;
        }
      }
    }

    p {
      margin-bottom: 0;
    }

    &:nth-last-child(1) {
      border-top: solid 10px transparent;
    }
  }
}

.Message__left {
  position: absolute;
  top: 0;
  left: 0;
}
