// TODO - Remove !important qualifiers
// TODO - Move variables somewhere else
.MessageForm.message-form {
  $blue: #3756a0;

  $messages-background: #f1f2f4;
  $form-background: rgba(0, 0, 0, .05);

  $input-background: $messages-background;

  height: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;

  .MessageForm__input {
    background: $input-background !important;
    max-height: 30vh;
    min-height: 60px;
    width: 100%;
  }
}
