@import (reference) './custom.less';

body.nightmode {
  background: @grey-gondola;
  color: @white-smoke;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: @white-smoke;
}

.ant-slider-mark-text {
  color: @grey-darkGrey;
}

.ant-radio-wrapper,
.ant-slider-mark-text-active {
  color: @white-smoke;
}

.ant-radio-button-wrapper {
  background: @grey-nero;
  color: @white-smoke;
}

.ant-select {
  color: @white-smoke;
  .ant-select-arrow {
    color: @white-smoke;
  }
}

.ant-checkbox-wrapper {
  color: @white-smoke;
}

.ant-tooltip-inner {
  border: @border-width-base @border-style-base @normal-grey;
}

.username {
  color: @white-smoke;
  font-weight: 500;
}
