.PostSingleContent {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  padding-bottom: 56px;
}

.PostSingleContent__header {
  font-size: 18px;
}

.PostSingleContent__content,
.PostSingleContent__replies .CommentBody {
  width: 820px;
  font-size: 1em;
  line-height: 1.6em;
  overflow: hidden;

  img {
    height: auto;
    margin: 2em 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    background-color: white;
    vertical-align: middle;
    width: auto;
    max-width: 100%;
    max-height: none;
  }

  div.pull-right{
    padding-left: 1rem;
    max-width: 50%;
  }

  div.pull-left {
    float: left;
    padding-right: 1rem;
    max-width: 50%;
  }

  div.text-justify {
    text-align: justify;
  }

  div.text-right {
    text-align: right;
  }

  div.text-center {
    text-align: center;
  }

  div.text-rtl {
    direction: rtl;
  }

  ol {
    margin-bottom: 2em;
  }

  ol li {
    list-style-type: decimal !important;
  }

  ul {
    margin-bottom: 2em;

    li {
      list-style-type: square !important;
      list-style-position: outside;
      margin-left: 20px;
    }
  }

  table {
    width: 100%;
    border: 1px solid #f8f8f8;
  }

  td, th {
    padding: 0.75em;
    vertical-align: top;
  }

  tr:nth-child(even), thead {
    background: #f8f8f8;
    padding: 1em;
  }

  h4, h5, h6 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.6em;
    margin-bottom: 1em;
  }
}

.PostSingleContent__replies {
  background-color: #f1f2f4;
  font-size: 1.2em;

  li {
    margin: 0 !important;
    padding: 1em 0;
  }
}
