@import (reference) "../../styles/custom.less";

.DraftRow {
  background-color: @white;
  border-radius: @border-radius-base;
  border: 1px solid @white-gainsboro;
  margin-bottom: 12px;
  padding: 14px;

  &__contents {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: space-between;
  }

  &__date {
    color: @blue-botticelli;
    font-size: 14px;
  }

  &__delete {
    align-items: center;
    color: @red;
    display: flex;
    font-weight: 600;
    text-transform: capitalize;

    &__icon {
      font-size: 20px !important;
      margin-right: 5px;
    }
  }
}
