$primary-color: #4275F4;
$background-color: #3756a0;
$text-color: rgba(79,83,91,.9);
$messages-background: #f1f2f4;
$input-background: $messages-background;
$form-background: rgba(0, 0, 0, .05);
$toolbarBackground:#000;
$normal-grey: #4f545c;
