$primary-color: #4275F4;
$background-color: #3756a0;
$text-color: #4e4d4d;
$green: #09b28b;
$red: #F92B61;

$messages-background: #f1f2f4;
$input-background: $messages-background;
$form-background: rgba(0, 0, 0, .05);
