@import './custom.less';

@font-face {
  font-family: Whitney;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Whitney.woff') format('woff')
}

@font-face {
  font-family: Whitney;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/WhitneyMedium.woff') format('woff')
}

@font-face {
  font-family: Whitney;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/WhitneyBold.woff') format('woff')
}

.content {
  margin-top: 56px;
}

.shifted {
  margin-top: 21px;
}

.ant-layout {
  overflow: hidden;
}

.ant-tooltip-content {
  font-weight: 500;
}

.ant-popover-title {
  color: #9d9d9d;
  line-height: 36px;
  height: 36px;
}
