@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.UserFollowers {
  background: @white;
  border-top: 1px solid @white-gainsboro;
  border-bottom: 1px solid @white-gainsboro;
  padding: 14px 16px 16px 16px;

  @media @medium {
    border: 1px solid @white-gainsboro;
    border-radius: @border-radius-base;
  }
}
