@import (reference) '../styles/custom.less';

.UserDynamicList {
  background: @white;
  border: 1px solid #e9e7e7;
  border-radius: @border-radius-base;
  margin-bottom: 16px;

  &__container {
    padding: 16px 16px 0 16px;

    .Loading {
      margin: 8px 0;
    }
  }
}
