@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';
@import (reference) '../styles/mixins';

.NotificationsPage {
  display: inline-block;
  width: 100%;

  @media @medium {
    width: 80%;
  }

  &__title {
    padding-bottom: 16px;
    padding-left: 20px;
    text-align: left;
  }

  &__content {
    .content-block();
    padding: 0 8px;
    margin-bottom: @content-margin;
  }

  &__loading {
    padding: 20px;
  }
}
