.PostFeedCard {
  border: 1px solid #E7E7EC;
  width: 100%;
  border-radius: 5px;
  max-width: 600px;
  margin: 0 auto 1em;
  table-layout: fixed;
  background-color: #FFFFFF;

  h2 {
    margin-bottom: 0.4em !important;
  }

  h2 a {
    color: #434F66;
  }
}

@media (max-width: 600px) {
  .PostFeedCard {
    border-width: 1px 0 1px 0 !important;
  }
}

.PostFeedCard__thumbs {
  background: white;
  width: 100%;
  text-align: center;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.PostFeedCard__cell {
  vertical-align: middle;
  overflow: hidden;

  li i {
    line-height: 47px;
  }

  li {
    height: 47px;
    line-height: 47px;
    float: left;
    vertical-align: middle;
  }

  li:last-child {
    border-right: none;
  }
}

.PostFeedCard__cell--top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  li {
    padding: 0 1em;
  }
}

.PostFeedCard__cell--tab-content {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.PostFeedCard__cell--body {
  padding: 1em 1em 0em 1em;
}

.PostFeedCard__cell--text {
  padding: 0em 1em 1em 1em;
}

.PostFeedCard__thumbs + .PostFeedCard__cell--text {
  padding-top: 1em;
}


.PostFeedCard__cell--bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: visible;
  li {
    width: 25%;
    border-right: 1px solid rgba(0, 0, 0, 0.05);

    &:hover {
      background-color: #f7fbff;
    }
  }
}
