.NotificationHolder {
  position: fixed;
  z-index: 100;
  height: 50%;
  width: 25rem;
  top: 80px;
  right: 30px;
}

.Notification {
  border-radius: 7px;
  opacity: 0.8;
  width: inherit;
  background: #4275F4;
  color: #fff;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
