@import "../../styles/fonts.less";

.Body {
  &--full {
    font-family: @font-text;
    color: rgba(0, 0, 0, .8);
    line-height: 1.6em;
    font-size: 21px;
    word-wrap: break-word;

    h1, h2, h3, h4, h5, h6 {
      margin: 8px 0;
    }

    *:not(:empty):not(li):not(.pull-left):not(.pull-right) {
      margin: 32px 0;
    }

    li p {
      display: inline-block;
    }
  }

  blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
  }

  :not(pre) > code {
    padding: 2px 4px;
    color: #c7254e;
    background-color: #f9f2f4;
  }

  pre {
    overflow-y: auto;
    padding: 10px 20px;
    margin-bottom: 14px;
    line-height: 1em;
    background-color: #f7f7f9;

    code {
      font-size: 16px;
    }
  }

  table {
    width: calc(100% ~'+' 20px) !important;
    display: table;
    border-collapse: collapse;
    table-layout: fixed;
    margin-right: -20px !important;

    td {
      padding-right: 20px;
      display: table-cell;
      word-wrap: break-word;
      vertical-align: top;
    }
  }

  ol {
    list-style: decimal inside;
  }

  ul {
    list-style: disc inside;
  }

  div.pull-left {
    float: left;
    padding-right: 1rem;
    max-width: 50%;
  }

  div.pull-right {
    float: right;
    padding-left: 1rem;
    max-width: 50%;
  }

  img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: none;
    display: inline-block;
    vertical-align: middle;
  }
}
