.PostFeedEmbed {
  margin: 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #000000;

  &:hover {
    & .Icon {
      font-size: 7em;
      text-shadow: 0 0 140px rgba(0, 0, 0, 0.8) !important;
    }
  }
}

.PostFeedEmbed__playButton {
  position: absolute;
  display: flex;
  transition: 0.2s all;
  text-shadow: 0 0 100px rgba(0, 0, 0, 0.4) !important;

  & .Icon {
    font-size: 6em;
    transition: 0.2s all;
    color: white;
  }
}

.PostFeedEmbed__preview {
  width: 100%;
}
