@import "../../styles/custom.less";

@width: 520px;

.Story {
  position: relative;
  max-width: @width;
  border-radius: 4px;
  background-color: @white;
  color: #353535;
  border: solid 1px #e9e7e7;
  padding: 16px 16px 0 16px;

  &__submenu__icon {
    font-size: 20px !important;
    vertical-align: -1px;
  }

  &__more {
    position: absolute;
    right: 16px;
    top: 4px;
    background-color: transparent !important;
    border-bottom: none !important;

    &__item {
      border-bottom: none !important;

      & > ul {
        left: -128px !important;
      }

      & > div {
        padding: 0 2px !important;
      }
    }

    &__icon {
      font-size: 20px !important;
      color: #c2ccd3;
    }
  }

  &__header {
    display: flex;

    &__text {
      margin: 0 12px;
    }
  }

  &__date {
    position: relative;
    top: -2px;
    font-size: 14px;
    color: #99aab5;
  }

  &__topics > button {
    margin: 0 2px;
  }

  &__body {
    padding: 8px 0;
  }

  &__content {
    &__title {
      font-size: 20px;
      margin: 8px 0;
      color: #353535 !important;
    }

    & p, & span {
      line-height: 20px;
    }

    & img {
      max-width: @width - 2px;
      margin-left: -16px;
      display: block;
    }
  }
}
