.StoryFull {
  max-width: 710px;
  margin: 0 auto;

  &__title {
    color: #353535;
    font-size: 26px;
    font-weight: 500;
  }

  &__header {
    display: flex;
    padding-top: 24px;

    &__text {
      margin-left: 16px;

      & > a {
        display: block;
        font-size: 20px;
        font-weight: bold;
      }

      &__date {
        color: #99aab5;
        font-size: 14px;
      }
    }
  }

  &__content {
    &__title {
      font-size: 20px;
      margin: 8px 0;
    }

    & p {
      letter-spacing: 0.7px;
      text-align: justify;
      margin: 32px 0;
      line-height: 30px;
      font-size: 18px;
    }

    & img {
      margin: 0 auto;
      max-width: 100%;
      display: block;
    }
  }
}
