@import (reference) '../styles/custom.less';

.nightmode {
  .UserActivitySearch {
    &__filters {
      &__title {
        color: @white-smoke;

        &__icon {
          color: @blue-botticelli;
        }
      }

      &__content {
        color: @grey-mortar;
      }

      &__divider {
        background-color: @white-gainsboro;
      }
    }
  }
}
