.SidebarContacts {
  li {
    line-height: 28px;
  }

  .SidebarContacts__unreadCount {
    display: inline-block;
    height: 1.5em;
    min-width: 1.5em;
    float: right;
    padding: 2px;
    text-align: center;
    border-radius: 1.5em;
    background-color: rgba(black, 0.2);

    span {
      position: relative;
      top: -3px;
    }
  }
}