.NextButton, .PrevButton {
  width: 100px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.3;

  a {
    height: 100%;
    align-items: center;
    vertical-align: center;
    display: flex;
  }

  &:hover {
    opacity: 1;
  }

  .Icon {
    font-size: 80px;
    color: #ffffff;
  }
}

.PostSingleModal__header {
  width: 100%;
  max-width: 800px;
  position: fixed;
  top: 0;
  bottom: 0;
}

.NextButton {
  right: -100px;
}

.PrevButton {
  left: -100px;
}

@media (max-width: 992px) {
  .NextButton, .PrevButton {
    display: none;
  }
}
