@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables';

.nightmode {
  .Invite {
    background-color: @grey-nero;
    border: @border-width-base @border-style-base @normal-grey;

    &__icon-container {
      background-color: #2b3035;
    }
  }
}
