.main {
  border-radius: 15px;
  line-height: 1.4;
  display: inline-block;
  padding: 2px 15px;
  color: #f00;
  border: 2px solid #f00;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;

  &.isFavorite{
    color: #0ff;
    border: 2px solid #0ff;
  }
}
