@import (reference) '../../styles/custom.less';

.MoreCommentsButton {
  border: none;
  background: none;
  border-top: @base-border;
  outline: none;
  padding: 8px 0;
  margin-top: 12px;
  width: 100%;
  cursor: pointer;

  &__text {
    text-align: center;
    color: @primary-color;
  }

  & > i {
    font-size: 20px;
    vertical-align: -3px;
    margin-left: 4px;
    color: @primary-color;
  }
}
