.single {
  display: flex;
  flex-direction: column;
  overflow-x: auto;

  .single-content {
    font-size: 20px;
    line-height: 1.5em;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    margin-bottom: 40px;
    overflow: hidden;

    p {
      text-align: justify;
    }

    img {
      max-width: 100%;
      max-height: 600px;
      height: auto;
      margin: 20px 0;
      border: 1px solid rgba(0, 0, 0, 0.1);
      display: block;
      background-color: white;
    }

    ol {
      margin-bottom: 2em;

      li {
        list-style-type: decimal !important;
      }
    }

    ul {
      margin-bottom: 2em;

      li {
        list-style-type: square !important;
        list-style-position: inside;
        margin-left: 20px;
      }
    }
  }

  .single-replies {
    background-color: #f1f2f4;

    li {
      margin: 0 !important;
      padding: 1em 0;
    }
  }
}
