@import (reference) "../../styles/custom.less";

.PostRecommendation {
  &__title {
    border-bottom: 1px solid #e9e7e7;
    padding: 20px 10px 10px 10px;
  }

  &__link {
    padding: 10px;
    border-bottom: 1px solid #e9e7e7;
  }
}
