@import "../../styles/custom.less";

.StartNow {
  padding: 30px 20%;
  border-radius: @border-radius-base;
  text-align: center;
  color: @white;
  background-color: @purple;
}

.StartNow__title {
  font-size: 18px;
  margin-bottom: 26px;
}

.StartNow__button {
  .btn;
  .btn-default;
  .btn-ghost;
  
  width: 100%;
  height: 46px;
  color: white;
  font-size: 16px;;
}