.User {
  font-weight: 500;
}

.User__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.User__links {
  display: flex;
  align-items: center;

  & > a {
    font-weight: bold;
  }
}

.User__name {
  margin-left: 8px;
}

.User__about {
  font-size: 15px;
  color: #9d9d9d
}

.User__divider {
  width: 100%;
  height: 1px;
  margin: 12px 0;
  background-color: #e9e7e7;
}
