<!DOCTYPE html>
<html>
  <head>
    <title>Busy</title>
    <meta charset="UTF-8">
    <meta name="description" content="Busy is a decentralized social network based on Steem blockchain">
    <meta id="viewport" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="theme-color" content="#3756a0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="all"/>
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </head>
  <body>
    <div id="app"></div>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en,Intl.~locale.zh,Intl.~locale.fr,Intl.~locale.de,Intl.~locale.ru,Intl.~locale.ko,Intl.~locale.nl"></script>
  </body>
</html>
