@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.nightmode {
  .StoryLoading {
    background-color: @grey-nero;
    color: @normal-grey;
    border-top: @border-width-base @border-style-base @normal-grey;
    border-bottom: @border-width-base @border-style-base @normal-grey;

    @media @small {
      border: @border-width-base @border-style-base @normal-grey;
    }
  }
}
