@import (reference) "../../styles/custom.less";

.Comments {
  max-width: 990px;
  margin: 0 auto;
  overflow: hidden;

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;

    &__sort {
      text-align: right;

      & > a {
        margin: 0 8px;
        font-weight: bold;
        color: @purple !important;

        &:hover {
          color: @purple !important;
        }

        &.active {
          color: @purple !important;
        }
      }
    }
  }
}
