@import (reference) '../../styles/custom.less';

.content {
  margin-top: 0px !important;
}

.EditorFullScreen {
  .ant-modal {
    padding-bottom: 0 !important;
  }

  &__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__brand {
    font-weight: bold;
    font-size: 25px;
    color: @primary-color;
  }

  &__brand-icon {
    margin-right: 10px;
  }

  &__contents {
    display: flex;
    flex: 1 0 auto;
    background-color: @white;
  }

  &__form {
    background-color: @white-darker;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    padding: 10px;
  }

  &__header {
    display: flex;
    padding: 10px 50px 10px 15px;
    border-bottom: @base-border;
    height: 60px;

    &__word-count {
      display: flex;
      > span {
        width: 150px;
      }
    }

    &__info {
      > i {
        margin-right: 5px;
      }

      display: flex;
      align-items: center;
    }
    &__right {
      margin-left: auto;
      display: flex;
      align-items: center;

      &__saving {
        margin-right: 10px;
      }
    }

    &__minimize {
      display: flex;
      align-items: center;
    }
  }

  &__column {
    width: 50%;
  }

  &__preview {
    background-color: @component-background;
    padding: 10px;
    border-top: @base-border;

    &__empty {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      height: 100%;
      color: @blue-botticelli;
    }
  }

  .ant-form-item-required {
    &:before {
      content: '' !important;
    }
  }

  &__title-input {
    border: 0 !important;
    box-shadow: none !important;
    padding-left: 20px !important;
    font-weight: bold;

    &:focus {
      box-shadow: none !important;
    }
  }
}

.EditorToolbar {
  &__container {
    border-radius: 0 !important;
  }
}
