@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.nightmode {
  .EditorToolbar {
    background: @grey-nero;

    &__button {
      background: @grey-nero;
      color: @blue-heather;
      &:hover {
        background: @normal-grey;
        color: @white-smoke;
      }
    }
  }

  .EditorToolbar__container {
    border: @border-width-base @border-style-base @normal-grey;
    border-bottom: 0;
    background: @grey-nero;
  }
}
