@import (reference) '../../styles/custom.less';

.EditorFullscreen {
  .ant-modal {
    padding-bottom: 0 !important;
  }

  &__header {
    display: flex;
    align-items: flex-end;
    padding: 20px;
  }

  &__container {
    display: flex;
    height: 100%;
  }

  &__column {
    width: 50%;
  }

  &__form {
    background-color: @body-background;
  }
  &__preview {
    background-color: @component-background;
  }

  .EditorToolbar__container,
  .ant-select-selection,
  .ant-input {
    border: 0 !important;
  }

  .ant-form-item-label {
    padding: 0 10px 15px 10px !important;
  }
}
