@import (reference) '../../styles/custom.less';

.Editor {
  padding-bottom: 24px;

  .ant-form-item {
    margin-bottom: 0px;
    padding-bottom: 24px;
  }

  &__reading_time {
    float: right;
  }

  &__hidden {
    display: none !important;
  }

  & .ant-form-item-label {
    position: relative;
    top: 8px !important;
  }

  & .ant-form-item-required {
    &:before {
      content: '' !important;
    }
  }

  & .ant-checkbox-wrapper > :last-child {
    vertical-align: -3px;
  }

  &__label {
    font-weight: bold;
  }

  &__title {
    height: 52px !important;
    font-size: 24px !important;
    font-weight: bold;
  }

  &__topics {
    & > div {
      padding-top: 5px !important;
      padding-bottom: 8px !important;
      height: auto !important;
    }
  }

  &__dropzone-base {
    position: relative;
  }

  &__dropzone {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-radius: 4px;
    background: fade(@purple, 60%);
    color: white;

    & > div {
      margin: auto;
      font-weight: 700;
      font-size: 20px;

      & > span {
        margin-left: 8px;
        vertical-align: 3px;
      }
    }
  }

  &__imagebox {
    input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    label {
      cursor: pointer;
    }

    .iconfont {
      font-size: 22px !important;
      margin-right: 4px;
      vertical-align: -2px;
    }

    .anticon {
      font-size: 16px !important;
      margin-right: 8px !important;
      vertical-align: 1px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__info {
      font-weight: bold;

      .iconfont {
        font-size: 20px;
        vertical-align: -3px;
        margin-right: 4px;
      }
    }

    &__right {
      display: flex;
      align-items: center;

      &__saving {
        margin-right: 16px;
      }
    }

    &__submit {
      margin-bottom: 0 !important;

      .ant-form-item-control {
        text-align: right !important;
      }
    }

    &__cancel {
      margin-bottom: 0 !important;
      padding-right: 10px;
      .ant-form-item-control {
        text-align: right !important;
      }

      .Action {
        background-color: @red !important;
      }
    }
  }

  .ant-select-selection__choice {
    font-weight: 500 !important;
    border: 2px solid @green !important;
    color: @green !important;
    background-color: transparent !important;
    border-radius: @btn-height-sm !important;

    & > div {
      position: relative;
      top: -2px;
      font-size: 14px;
    }

    & > span {
      color: @green !important;
    }
  }
}
