@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables';

.nightmode {
  .Discover {
    &__content {
      background-color: @grey-nero;
      border: @border-width-base @border-style-base @normal-grey;
    }

    &__user {
      &__divider {
        background-color: @normal-grey;
      }
    }
  }
}
