.Badge__icon {
  fill: #000000;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.Badge__icon--newbie {
  fill: #6d6d6d;
}

.Badge__icon--user {
  fill: #4BA2F2;
}

.Badge__icon--superuser {
  fill: #1A5099;
}

.Badge__icon--hero {
  fill: #956729;
}

.Badge__icon--superhero {
  fill: #a87616;
}

.Badge__icon--legend {
  fill: #f9c211;
}
