.Donor__icon {
  fill: #000000;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.Donor__icon--bronze {
  fill: #956729;
}

.Donor__icon--silver {
  fill: #a1a1a1;
}

.Donor__icon--gold {
  fill: #f9c211;
}

.Donor__icon--platinum {
  fill: #4BA2F2;
}

.Donor__icon--diamond {
  fill: #b8e3ff;
}
