@import "../styles/colors.scss";

.Icon {
  vertical-align: middle;
  color: #c2ccd3;
}

.Icon--xs {
  font-size: 16px;
}

.Icon--sm {
  font-size: 20px;
}

.Icon--md {
  font-size: 24px;
}

.Icon--lg {
  font-size: 28px;
}

.Icon--xl {
  font-size: 36px;
}

.Icon--menu {
  height: auto;
  margin: 0 4px;
  width: 28px;
  overflow: hidden;
}

.main-panel {
  a:hover > .Icon {
    color: #99AAB5;
  }
  a.active {
    .Icon {
      color: $primary-color;
    }
  }
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url('../fonts/MaterialIcons-Regular.woff2') format('woff2'),
  url('../fonts/MaterialIcons-Regular.woff') format('woff'),
  url('../fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

