@import "../styles/colors.scss";

.Icon {
  vertical-align: middle;
  color: #AAA;
}

.Icon--xs {
  font-size: 16px;
}

.Icon--sm {
  font-size: 22px;
}

.Icon--md {
  font-size: 26px;
}

.Icon--lg {
  font-size: 36px;
}

.Icon--xl {
  font-size: 86px;
}

.Icon--menu {
  height: 56px;
  line-height: 54px;
  margin: 0 14px;
  min-width: 28px;
  width: 28px;
  overflow: hidden;
}

.main-panel {
  a:hover {
    .Icon {
      color: $primary-color;
    }
  }

  a.active {
    .Icon {
      color: $primary-color;
    }
  }
}
