@import "../styles/colors.scss";

.Modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-dialog {
    max-width: 320px;
    margin: 20px auto 60px;

    .modal-content {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
      text-align: center;
      border-radius: 14px;

      .modal-body {
        position: relative;
        padding: 40px;
      }
    }
  }
}
