.Slider {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 560px;

  &__presets {
    padding: 16px 0;

    & > .ant-radio-group {
      width: 100%;

      & > .ant-radio-button-wrapper {
        min-width: 20%;
        text-align: center;
      }
    }
  }

  &__info {
    margin-bottom: 12px;
    text-align: center;

    &__amount {
      font-family: "Source Sans Pro", monospace;
      font-weight: bold;
    }
  }
}
