.Slider {
  padding: 0 16px;
  max-width: 560px;

  &__buttons {
    text-align: center;
    a {
      color: #99aab5;
      font-weight: bold;
      font-size: 14px;

      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }

  &__presets {
    padding: 16px 0;

    & > .ant-radio-group {
      width: 100%;

      & > .ant-radio-button-wrapper {
        width: 20%;
        text-align: center;
      }
    }
  }

  &__info {
    margin-bottom: 12px;
    text-align: center;

    &__amount {
      font-family: "Source Sans Pro", monospace;
      font-weight: bold;
    }
  }
}
