<footer id="footer">
    <div class="col-md-12 footer-area">
        <div class="col-md-12">
            <nav class="footer-nav">
                <ul class="footer-nav-inner">
                    <li><a href="mailto:fabien@adcpm.com">About Us</a></li>
                    <li><a href="mailto:fabien@adcpm.com">Contact Us</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-12">
            <div class="copyright-info">
                <p>© 2016 Stef Limited. All Rights Reserved.</p>
            </div>
        </div>

    </div>
</footer>