/* --------------------------------
 * Primary style
 *--------------------------------

body
  background-color: $background-color
  font-family: $font-primary
  font-size: 15px
  color: $text-color

a
  color: $primary-color
  &:hover
    color: #005dd9
    text-decoration: none
    outline: 0
  text-decoration: none
  outline: 0
  &:active, &:visited, &:focus
    text-decoration: none
    outline: 0

img
  max-width: 100%




fieldset
  text-align: left

.align-center
  display: flex
  align-items: center
  justify-content: center
  text-align: center

\:focus
  outline: 0

\::-webkit-scrollbar
  height: 4px
  width: 4px
  background: #ffffff

\::-webkit-scrollbar-thumb
  background: #898989

.no-gutter [class*="col-"]
  padding-left: 0
  padding-right: 0

.form-control
  box-shadow: inset 0 1px 2px rgba(203, 203, 210, 0.4)
  padding-left: 8px
  padding-right: 8px
  color: #3F3F44
  background-color: #fff
  background-image: none
  border: 1px solid #CBCBD2
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s

.form-control-lg
  line-height: 20px
  font-size: 16px

.input-group-lg >
.form-control, .input-group-addon
  line-height: 20px
  font-size: 16px

.input-under
  font-size: 20px
  background: transparent
  border: none

/* --------------------------------
 *3. Main components
 *--------------------------------

html, body
  height: 100%
  text-align: left

ul, li
  list-style: none
  margin: 0
  padding: 0

body.overflow-hidden
  /* when primary navigation is visible, the content in the background won't scroll
  overflow: hidden

.header-block
  padding-top: 60px
  padding-bottom: 60px
  min-height: 89vh

.mobile-header-block
  padding-top: 60px
  padding-bottom: 40px
  min-height: 69vh

.section-block
  padding: 60px 10px 60px 10px

.section-header
  font-size: 36px
  font-weight: 500
  text-align: center

.section-subheader
  font-weight: 500
  a
    color: #50e3c2
    &:hover
      color: #898989

.section-body
  max-width: 992px

@media (min-width: 768px)
  .section-header
    font-size: 40px
  .section-block
    padding-bottom: 90px
    padding-top: 90px

@media (min-width: 992px)
  .section-block
    padding-bottom: 120px
    padding-top: 120px
  .section-header
    font-size: 48px
  .section-body
    text-align: left

.form-group
  position: relative

.btn-bordered-white
  background: transparent
  border-color: #ffffff
  border-width: 2px
  color: #ffffff
  font-size: 20px
  max-width: 100%
  padding: 10px 15px
  -webkit-transition: all 0.25s
  -o-transition: all 0.25s
  transition: all 0.25s
  width: 320px
  font-weight: 500
  border-radius: 10px 10px 10px 10px
  &:hover, &:focus
    background: #50e3c2
    border-color: #50e3c2
    color: #ffffff
  &:active
    &:hover, &:focus
      background: #50e3c2
      border-color: #50e3c2
      color: #ffffff

.btn-bordered-green
  background: transparent
  border-color: #50e3c2
  border-width: 2px
  color: #50e3c2
  font-size: 20px
  font-family: $font-primary
  max-width: 100%
  padding: 10px 15px
  -webkit-transition: all 0.25s
  -o-transition: all 0.25s
  transition: all 0.25s
  width: 320px
  font-weight: 500
  border-radius: 10px 10px 10px 10px
  &:hover, &:focus
    background: #50e3c2
    border-color: #50e3c2
    color: #ffffff
  &:active
    &:hover, &:focus
      background: #50e3c2
      border-color: #50e3c2
      color: #ffffff

.btn-bordered-blue
  background: transparent
  border-color: #3EBFFF
  border-width: 2px
  color: #3EBFFF
  font-size: 20px
  max-width: 100%
  padding: 10px 15px
  -webkit-transition: all 0.25s
  -o-transition: all 0.25s
  transition: all 0.25s
  width: 320px
  font-weight: 500
  border-radius: 10px 10px 10px 10px

.btn-fill-green
  background: #50e3c2
  border-color: #50e3c2
  border: 2px
  color: #ffffff
  font-size: 20px
  max-width: 100%
  padding: 10px 15px
  -webkit-transition: all 0.25s
  -o-transition: all 0.25s
  transition: all 0.25s
  width: 320px
  font-weight: 500
  border-radius: 10px 10px 10px 10px
  outline: none
  text-shadow: none

.btn-bordered-blue
  &:hover, &:focus
    background: #3EBFFF
    border-color: #3EBFFF
    color: #ffffff
  &:active
    &:hover, &:focus
      background: #3EBFFF
      border-color: #3EBFFF
      color: #ffffff

.btn-blue-bkd
  &:hover, &:focus
    background: #ffffff
    border-color: #ffffff
    color: #3EBFFF
  &:active
    &:hover, &:focus
      background: #ffffff
      border-color: #ffffff
      color: #3EBFFF

.btn-fill-green
  &:hover, &:focus
    background: #47CBAE
    border-color: #47CBAE
    color: #ffffff
  &:active
    &:hover, &:focus
      background: #47CBAE
      border-color: #47CBAE
      color: #ffffff

.highlight-strong
  font-family: $font-primary

textarea
  resize: none
  &::-webkit-input-placeholder
    color: #b7b7b7 !important
  &:-moz-placeholder
    /* Firefox 18-
    color: #b7b7b7 !important
  &::-moz-placeholder
    /* Firefox 19+
    color: #b7b7b7 !important
  &:-ms-input-placeholder
    color: #b7b7b7 !important

input[type="checkbox"]
  margin-right: 15px


.app-wrapper
  margin: 0 auto
  position: relative
  top: 0
  height: 100%
  overflow: hidden

.main-panel
  overflow: hidden
  height: 100%
  position: relative
  z-index: 2
  float: right
  //width: calc(100% - 260px)
  width: 100%
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3)

@media (max-width: 992px)
  .main-panel
    width: 100% !important

#app
  height: 100%

.main-panel
  height: 100%
  position: relative
  z-index: 2
  display: flex
  flex-direction: column


.avatar
  overflow: hidden
  border-radius: 50%
  background-color: #27d0a9
  text-align: center
  display: inline-block
.avatar-sm
  width: 40px
  height: 40px
  img
    width: 24px
    height: 24px
    margin: 8px 0
.avatar-xl
  width: 70px
  height: 70px
  img
    width: 45px
    height: 45px
    margin: 15px 0

@media (max-width: 992px)
  .hidden-xs
    display: none !important

.visible-xs
  display: none
@media (max-width: 992px)
  .visible-xs
    display: inherit !important


.thumbs
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7))
  width: 100%
  text-align: center
  overflow: hidden
  line-height: 0

  img
    max-height: 400px
    background-color: white

.filters
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  margin: 10px 0

.main-panel
  width: calc(100% - 260px)
  background-color: #f1f2f4


.bg-green
  color: white
  background-color: #434f66
  h1, h2, h3, i
    color: white

.pull-right
  float: right !important

.hide
  display: none !important

.container
  max-width: 900px
  margin: 0 auto

.single
  ol
    li
      list-style-type: decimal !important
  ul
    li
      list-style-type: square !important
      list-style-position: inside
      margin-left: 20px

.single
  display: flex
  flex-direction: column
  overflow-x: auto
  font-size: 18px
  img
    max-width: 100%
    max-height: 600px
    margin: 20px 0
    display: block

.page
  display: flex
  overflow-y: auto
  flex-direction: column

.block
  padding: 160px 0 220px
  text-align: center
  background-color: #434f66
  color: white
  h1
    color: white
.about-1
  background: radial-gradient(circle at 50% 50%, rgba(0,0,0,0), rgba(0,0,0,0.6)), url('/img/about/1.jpg') top center / cover
.about-2
  background: radial-gradient(circle at 50% 50%, rgba(0,0,0,0), rgba(0,0,0,0.6)), url('/img/about/2.jpg') top center / cover
.about-3
  background: radial-gradient(circle at 50% 50%, rgba(0,0,0,0), rgba(0,0,0,0.6)), url('/img/about/3.jpg') center / cover
.about-4
  background: radial-gradient(circle at 50% 50%, rgba(0,0,0,0), rgba(0,0,0,0.6)), url('/img/about/4.jpg') center / cover
.about-5
  background: radial-gradient(circle at 50% 50%, rgba(0,0,0,0), rgba(0,0,0,0.6)), url('/img/about/5.jpg') center / cover
.about-6
  background: radial-gradient(circle at 50% 50%, rgba(0,0,0,0), rgba(0,0,0,0.6)), url('/img/about/6.jpg') top center / cover