.icon
  vertical-align: middle
  color: #AAA

.icon-menu
  height: 56px
  line-height: 54px
  margin: 0 14px
  min-width: 28px
  width: 28px
  overflow: hidden

.icon-xs
  font-size: 16px

.icon-sm
  font-size: 20px

.icon-md
  font-size: 28px

.icon-xl
  font-size: 100px
  color: $primary-color