.messages
  display: flex
  flex-direction: column
  flex-grow: 1
.messages-content
  flex-grow: 1
  overflow-y: auto
  li
    display: block
.message
  margin: 10px
  span
    padding: 10px
    display: inline-block
    background-color: aliceblue
    border-radius: 10px


