/* -------------------------------
 * Sidebar
 *--------------------------------

nav.sidebar
    display: block
    z-index: 1
    font-family: $font-alt
    font-size: 15px
    width: 260px
    height: 100%
    position: absolute
    top: 0
    bottom: 0
    left: 0
    color: #fff

    .sidebar-header
        height: 113px

    .sidebar-footer
        height: 160px

    ul.sidebar-content
        background-color: rgba(255, 255, 255, .04)
        list-style-type: none
        li
            line-height: 1.8em
            font-size: 16px
            margin: 0 20px
            color: #898989
            opacity: 0.8
            &:hover
                opacity: 1
                color: #FFFFFF